<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.fit.pis.library.back.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ReaderScopeFilter</filter-name>
        <filter-class>org.fit.pis.library.back.filters.ReaderScopeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LibrarianScopeFilter</filter-name>
        <filter-class>org.fit.pis.library.back.filters.LibrarianScopeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminScopeFilter</filter-name>
        <filter-class>org.fit.pis.library.back.filters.AdminScopeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <url-pattern>/faces/app/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ReaderScopeFilter</filter-name>
        <url-pattern>/app/reader/*</url-pattern>
        <url-pattern>/faces/app/reader/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LibrarianScopeFilter</filter-name>
        <url-pattern>/app/librarian/*</url-pattern>
        <url-pattern>/faces/app/librarian/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminScopeFilter</filter-name>
        <url-pattern>/app/admin/*</url-pattern>
        <url-pattern>/faces/app/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
		</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
